<br />
<div>
    <img src="~/images/access-denied.png" alt="Acesso negado" class="marginTop1" style="height:250px;" />
</div>
<div class="container">
    <div class="jumbotron">
        <p>
            <h2>Pare aí! Acesso negado!</h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Página inicial</a>
</div>